@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


html, body{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #111;
}

a{
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

::-webkit-scrollbar{
  display: none;
}